<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/all")
    @Scripts.Render("~/bundles/modernizr")
   
</head>
<body class="container" >
   
    <div class="main">
        <div class="main-container">

            <h1 class="header-main"> Welcome to FlossFlew</h1>
            <svg height="10px" width="100%">
                <rect width="100%" height="5px" style="fill: #020a36; stroke-width:10 " />
            </svg>
            <div class="col-md-9">              
                @RenderBody()
            </div>
            <div class="col-md-3">
                <div class="row">
                    <h4 class="header-main"> Navigation</h4>                   
                    @Html.ActionLink("Home", "Index", "Home", new { Style = "color:black; font-family: 'Eternal Knight Laser';" })
                   <hr>
                </div>
                <div class="row">                    
                    @Html.ActionLink("About", "About", "Home", new { Style = "color:black; font-family: 'Eternal Knight Laser';" })    
                    <hr>
                </div>
                <div class="row">

                    @Html.ActionLink("Contact", "Contact", "Home", new { Style = "color:black; font-family: 'Eternal Knight Laser';" })
                    <hr>

                </div>
              

            </div>
            <!-- Footer -->
            <footer class="footer">
                <svg height="10px" width="100%">
                    <defs>
                        <linearGradient id="GradientStroke">
                            <stop class="stop1" offset="0" stop-color="#7fa16d">
                                <animate attributeName="stop-color" values="#7fa16d;#6aabab;#734ab0;#6aabab;#7fa16d" dur="5s" repeatCount="indefinite" />
                            </stop>
                        </linearGradient>

                    </defs>
                    <rect width="100%" height="5px" rx="5px" ry="5px" style="fill: url(#GradientStroke); stroke-width:10 " />
                </svg>
                <h2 style="font-size: 15pt; text-align:center;"> Things I don't know now are simply joys I am yet to experience.</h2>
            </footer>
            <!-- Footer -->
        </div>
     
    </div>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
